<!DOCTYPE html>
<html lang="{{@site.lang}}">

<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.css"
        integrity="sha384-bsHo4/LA+lkZv61JspMDQB9QP1TtO4IgOf2yYS+J6VdAYLVyx1c3XKcsHh0Vy8Ws" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{asset "built/katex.fix.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/prism.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/tocbot.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/y1zhou.css"}}" />

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>

<body class="{{body_class}}">

    <div class="site-wrapper">

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        {{!-- The footer at the very bottom of the screen --}}
        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section class="copyright">
                    <a href="{{@site.url}}" style="font-weight: bold">{{@site.title}}</a> hosted by <a
                        href="https://www.upcloud.com/register/?promo=E48264"
                        style="margin-left: 0; font-weight: bold">UpCloud</a> &copy; {{date format="YYYY"}}</section>
                <nav class="site-footer-nav">
                    <div>Talk about it; explain it to people.</div>
                </nav>
            </div>
        </footer>

    </div>

    {{!-- The big email subscribe modal content --}}
    {{#if @labs.members}}
        <div class="subscribe-success-message">
            <a class="subscribe-close" href="javascript:;"></a>
            You've successfully subscribed to {{@site.title}}!
        </div>

        <div id="subscribe" class="subscribe-overlay">
            <a class="subscribe-close" href="#"></a>
            <div class="subscribe-overlay-content">
                {{#if @site.logo}}
                    <img class="subscribe-overlay-logo" src="{{@site.logo}}" alt="{{@site.title}}" />
                {{/if}}
                <div class="subscribe-form">
                    <h1 class="subscribe-overlay-title">Subscribe to {{@site.title}}</h1>
                    <p class="subscribe-overlay-description">Stay up to date! Get all the latest & greatest posts
                        delivered straight to your inbox</p>
                    <form data-members-form="subscribe">
                        <div class="form-group">
                            <input class="subscribe-email" data-members-email placeholder="youremail@example.com"
                                autocomplete="false" />
                            <button class="button primary" type="submit">
                                <span class="button-content">Subscribe</span>
                                <span class="button-loader">{{> "icons/loader"}}</span>
                            </button>
                        </div>
                        <div class="message-success">
                            <strong>Great!</strong> Check your inbox and click the link to confirm your subscription.
                        </div>
                        <div class="message-error">
                            Please enter a valid email address!
                        </div>
                    </form>
                </div>
            </div>
    {{/if}}

    {{!-- jQuery, required for fitvids --}}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    {{!-- Fitvids (for responsive video embeds), infinite scroll, floating header, and gallery card support --}}
    <script src="{{asset "built/casper.js"}}"></script>

    {{!-- Scripts for Members subscription --}}
    <script>
        // Parse the URL parameter
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        // Give the parameter a variable name
        var action = getParameterByName('action');

        $(document).ready(function () {
            if (action == 'subscribe') {
                $('body').addClass("subscribe-success");
            }

            $('.subscribe-success-message .subscribe-close').click(function () {
                $('.subscribe-success-message').addClass('close');
            });

            // Reset form on opening subscrion overlay
            $('.subscribe-button').click(function () {
                $('.subscribe-overlay form').removeClass();
                $('.subscribe-email').val('');
            });
        });
    </script>

    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some
    JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already
    loaded. --}}
    {{{block "scripts"}}}

    {{!-- Custom scripts --}}
    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js"
        integrity="sha384-y23I5Q6l+B6vatafAwxRu/0oK/79VlbSz7Q9aiSZUvyWYIYsd+qj+o24G5ZU2zJz"
        crossorigin="anonymous"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/contrib/auto-render.min.js"
        integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous"
        onload="renderMathInElement(document.body, {
                delimiters: [
                    { left: '\\[', right: '\\]' , display: true }, { left: '$' , right: '$' , display: false } ],
        });"></script>

    <script defer src="https://cdn.jsdelivr.net/npm/prismjs@1.17.1/prism.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/prismjs@1.17.1/components/prism-bash.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/prismjs@1.17.1/components/prism-c.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/prismjs@1.17.1/components/prism-cpp.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/prismjs@1.17.1/components/prism-css.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/prismjs@1.17.1/components/prism-json.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/prismjs@1.17.1/components/prism-python.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/prismjs@1.17.1/components/prism-r.min.js"></script>

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the
    closing body tag --}}
    {{ghost_foot}}

</body>

</html>
